{% extends "layouts/main.html" %}

{% block pageTitle %}
Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Your form has been submitted
      </h1>
      <div class="govuk-panel__body">
        Your form reference number is<br>
        <strong>HDJ2123F</strong>
      </div>
    </div>


    <h2 class="govuk-heading-m">
      What happens next
    </h2>

    <p>
      If you chose to receive an email confirmation, this will be sent to the email you provided.
    </p>

    <p>
      The information you have provided will be reviewed and if you are fined, it will be used to help make a payment
      plan.
    </p>


    <p>
      If your circumstances change, for example, if there is a change in your employment, you should contact the
      enforcement team dealing with your case. Their contact details should be included in the correspondence from them.
      You may be asked to complete this form again.
    </p>


  </div>
</div>

{% endblock %}