{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/afford/address" method="post">

      <h1 class="govuk-heading-l">What are your contact details?</h1>



      <!-- Email -->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="email-address">
          Enter your email address
        </label>

        <div id="email-address-hint" class="govuk-hint">
          We will send you an email confirmation when you submit this form
        </div>

        <input class="govuk-input govuk-input--width-10" id="email-address" name="emailAddress" type="text"
          aria-describedby="email-address-hint">
      </div>

      <!-- Phone -->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="phone-number">
          Enter your phone number
        </label>

        <div id="phone-number-hint" class="govuk-hint">
          (optional)
        </div>

        <input class="govuk-input govuk-input--width-10" id="phone-number" name="phoneNumber" type="text"
          aria-describedby="phone-number-hint">
      </div>



      <button class="govuk-button" data-module="govuk-button" type="submit">
        Continue
      </button>

    </form>



    </form>

  </div>
</div>

{% endblock %}