{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/afford/date-of-birth" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="fullName">
            What is your full name?
          </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
          This should match what is on official documents, such as correspondence from the court.
        </div>
        <input class="govuk-input" id="fullName" name="fullName" type="text" aria-describedby="full-name-hint">
      </div>





      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}