{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl">
      Check your answers
    </h1>
    <h2 class="govuk-heading-m">Personal details</h2>
    {{ govukSummaryList({
    rows: [
    {
    key: { text: "First name(s)" },
    value: { text: data['firstName'] },
    actions: {
    items: [{
    href: "#",
    text: "Change",
    visuallyHiddenText: "Question 1"
    }]
    }
    },
    {
    key: { text: "Family name" },
    value: { text: data['familyName'] },
    actions: {
    items: [{
    href: "#",
    text: "Change",
    visuallyHiddenText: "Question 2"
    }]
    }
    },
    {
    key: { text: "Address" },
    value: { text: [data['addressLine1'], data['addressLine2'], data['addressTown'], data['addressCounty'],
    data['addressPostcode']].join(', ') },
    actions: {
    items: [{
    href: "/address",
    text: "Change",
    visuallyHiddenText: "Address"
    }]
    }
    },
    {
    key: { text: "Home telephone number" },
    value: { text: data['homePhone'] },
    actions: {
    items: [{
    href: "#",
    text: "Change",
    visuallyHiddenText: "Question 4"
    }]
    }
    },
    {
    key: { text: "Mobile telephone number" },
    value: { text: data['mobilePhone'] },
    actions: {
    items: [{
    href: "#",
    text: "Change",
    visuallyHiddenText: "Question 5"
    }]
    }
    },
    {
    key: { text: "Email" },
    value: { text: data['email'] },
    actions: {
    items: [{
    href: "#",
    text: "Change",
    visuallyHiddenText: "Question 6"
    }]
    }
    },
    {
    key: { text: "Date of birth" },
    value: { text: [data['dobDay'], data['dobMonth'], data['dobYear']].join(' ') },
    actions: {
    items: [{
    href: "#",
    text: "Change",
    visuallyHiddenText: "Question 7"
    }]
    }
    },
    {
    key: { text: "National insurance number" },
    value: { text: data['niNumber'] },
    actions: {
    items: [{
    href: "#",
    text: "Change",
    visuallyHiddenText: "Question 8"
    }]
    }
    },
    {
    key: { text: "Vehicle registration number" },
    value: { text: data['vehicleNumber'] },
    actions: {
    items: [{
    href: "#",
    text: "Change",
    visuallyHiddenText: "Question 9"
    }]
    }
    },
    {
    key: { text: "Are you the registered owner of the vehicle?" },
    value: { text: data['vehicleOwner'] },
    actions: {
    items: [{
    href: "#",
    text: "Change",
    visuallyHiddenText: "Question 10"
    }]
    }
    }
    ]
    }) }}

    <h2 class="govuk-heading-m">
      Income and outgoings
    </h2>
    {{ govukSummaryList({
    rows: [
    {
    key: { text: "For all your income and outgoings, please indicate if these figures are:" },
    value: { text: data['outgoingsTimescale'] },
    actions: {
    items: [{
    href: "#",
    text: "Change",
    visuallyHiddenText: "Question 1"
    }]
    }
    }
    ]
    }) }}
    <h2 class="govuk-heading-m">Income details</h2>
    {{ govukSummaryList({
    rows: [
    {
    key: { text: "Occupation" },
    value: { text: data['occupation'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 1" }] }
    },
    {
    key: { text: "Employer's name" },
    value: { text: data['employerName'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 2" }] }
    },
    {
    key: { text: "Employer's address" },
    value: { text: [data['employeraddressLine1'], data['employeraddressLine2'], data['employeraddressTown'],
    data['employeraddressCounty'],
    data['employeraddressPostcode']].join(', ') },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 3" }] }
    },
    {
    key: { text: "Employer's telephone number" },
    value: { text: data['employerNumber'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 4" }] }
    },
    {
    key: { text: "I am self employed as" },
    value: { text: data['selfEmployed'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 5" }] }
    },
    {
    key: { text: "Your take home pay" },
    value: { text: data['takehomepay'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 6" }] }
    },
    {
    key: { text: "Any other income" },
    value: { text: data['otherIncome'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 7" }] }
    },
    {
    key: { text: "Total income" },
    value: { text: data['totalIncome'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 8" }] }
    },
    {
    key: { text: "please state since when" },
    value: { text: data['notEmployed'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 9" }] }
    },
    {
    key: { text: "Are you in receipt of benefits?" },
    value: { text: data['benefits'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 10" }] }
    },
    {
    key: { text: "If Yes, please state below which benefit(s) you recieve." },
    value: { text: data['whichBenefits'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 11" }] }
    }
    ]
    }) }}

    <h2 class="govuk-heading-m">Outgoings</h2>

    {{ govukSummaryList({
    rows: [
    {
    key: { text: "Rent, mortgate or lodgings" },
    value: { text: data['rent'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 1" }] }
    },
    {
    key: { text: "Council tax" },
    value: { text: data['tax'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 2" }] }
    },
    {
    key: { text: "Insurance" },
    value: { text: data['insurance'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 3" }] }
    },
    {
    key: { text: "Child maintenance" },
    value: { text: data['childMaintenance'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 4" }] }
    },
    {
    key: { text: "Travel expenses" },
    value: { text: data['travel'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 5" }] }
    },
    {
    key: { text: "Utility bills" },
    value: { text: data['bills'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 6" }] }
    },
    {
    key: { text: "Telephone" },
    value: { text: data['telephoneBill'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 7" }] }
    },
    {
    key: { text: "Television subscription" },
    value: { text: data['tv'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 8" }] }
    },
    {
    key: { text: "Other fines" },
    value: { text: [data['otherFine1'], data['otherFine2'], data['otherFine3']].join(', ') },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 9" }] }
    },
    {
    key: { text: "County court orders" },
    value: { text: data['countyCourt'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 10" }] }
    },
    {
    key: { text: "Loan repayments" },
    value: { text: data['loans'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 11" }] }
    },
    {
    key: { text: "Other outgoings" },
    value: { text: [data['otherOutgoings1'], data['otherOutgoings2'], data['otherOutgoings3'],
    data['otherOutgoings4']].join(', ') },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 12" }] }
    },
    {
    key: { text: "Total outgoings" },
    value: { text: data['totalOutgoings'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 13" }] }

    }
    ]
    }) }}

    <h2 class="govuk-heading-m">Other information</h2>

    {{ govukSummaryList({
    rows: [
    {
    key: { text: "Total savings" },
    value: { text: data['savings'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 1" }] }
    },
    {
    key: { text: "Partner's income including benefits" },
    value: { text: data['partnerIncome'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 2" }] }
    },
    {
    key: { text: "Number of dependent children" },
    value: { text: data['dependentChildren'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 3" }] }
    },
    {
    key: { text: "Please add any other information (for example any assets not mentioned above) that you believe the
    court should know about here:" },
    value: { text: data['otherInfo'] },
    actions: { items: [{ href: "#", text: "Change", visuallyHiddenText: "Question 4" }] }
    }
    ]
    }) }}



    <form action="/round-1/confirmation" method="post" novalidate>

      {{ govukButton({
      text: "Submit"
      }) }}

    </form>

  </div>
</div>
{% endblock %}