{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="reference-number">
          What is your case reference number, if you have one?
        </label>
      </h1>
      <div id="reference-number-hint" class="govuk-hint">
        The case reference is sometimes called a unique reference number (URN). You can find you URN on any
        correspondence from the court/your hearing notice, it should have 10 or 11 characters.
      </div>
      <input class="govuk-input" id="reference-number" name="referenceNumber" type="text"
        aria-describedby="reference-number-hint">
    </div>

    <form class="form" action="/income-start" method="post">



      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}