{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl">
      Check your answers before sending your application
    </h1>

    <h2 class="govuk-heading-m">
      Personal details
    </h2>

    {{ govukSummaryList({
    rows: [
    {
    key: { text: "Full name" },
    value: { text: data['fullName'] },
    actions: {
    items: [{ href: "/full-name", text: "Change", visuallyHiddenText: "full name" }]
    }
    },
    {
    key: { text: "Date of birth" },
    value: { text: data['dobDay'] + " " + data['dobMonth'] + " " + data['dobYear'] },
    actions: {
    items: [{ href: "/date-of-birth", text: "Change", visuallyHiddenText: "question 2" }]
    }
    },
    {
    key: { text: "National Insurance number" },
    value: { text: data['haveNINumber'] },
    actions: {
    items: [{ href: "/have-ni-number", text: "Change", visuallyHiddenText: "question 3" }]
    }
    },
    {
    key: { text: "National Insurance number" },
    value: { text: data['enterNINumber'] },
    actions: {
    items: [{ href: "/enter-ni-number", text: "Change", visuallyHiddenText: "question 4" }]
    }
    },
    {
    key: { text: "Phone number" },
    value: { text: data['phoneNumber'] },
    actions: {
    items: [{ href: "contact-details", text: "Change", visuallyHiddenText: "question 5" }]
    }
    },
    {
    key: { text: "Email" },
    value: { text: data['emailAddress'] },
    actions: {
    items: [{ href: "contact-details", text: "Change", visuallyHiddenText: "question 6" }]
    }
    },
    {
    key: { text: "Address" },
    value: { text: data['addressLine1'] + " " +
    data['addressLine2'] + " " +
    data['addressTown'] + " " +
    data['addressCounty'] + " " +
    data['addressPostcode'] },
    actions: {
    items: [{ href: "/address", text: "Change", visuallyHiddenText: "question 7" }]
    }
    },
    {
    key: { text: "Case reference number" },
    value: { text: data['referenceNumber'] },
    actions: {
    items: [{ href: "/case-reference-number", text: "Change", visuallyHiddenText: "question 8" }]
    }
    }
    ]
    }) }}

    <h2 class="govuk-heading-m">
      Income details
    </h2>

    {{ govukSummaryList({
    rows: [
    {
    key: { text: "Income sources" },
    value: {
    text: (data['income-source'] or []) | join(", ")
    },
    actions: {
    items: [{ href: "income-sources", text: "Change", visuallyHiddenText: "question 9" }]
    }
    },
    {
    key: { text: "Total monthly income" },
    value: { text: "£" + data['cost'] },
    actions: {
    items: [{ href: "income-sources", text: "Change", visuallyHiddenText: "question 10" }]
    }
    },
    {
    key: { text: "Company name" },
    value: { text: data['employerName'] },
    actions: {
    items: [{ href: "employer-details", text: "Change", visuallyHiddenText: "question 11" }]
    }
    },
    {
    key: { text: "Company contact details" },
    value: { text: data['employerEmail'] },
    actions: {
    items: [{ href: "employer-details", text: "Change", visuallyHiddenText: "question 12" }]
    }
    }
    ]
    }) }}

    <h2 class="govuk-heading-m">
      Spending details
    </h2>

    {{ govukSummaryList({
    rows: [
    {
    key: { text: "Spending sources" },
    value: {
    text: (data['spending-source'] or []) | join(", ")
    },
    actions: {
    items: [{ href: "spending-sources", text: "Change", visuallyHiddenText: "question 13" }]
    }
    },
    {
    key: { text: "Spending total" },
    value: { text: "£" + data['spend'] },
    actions: {
    items: [{ href: "spending-sources", text: "Change", visuallyHiddenText: "question 14" }]
    }
    }
    ]
    }) }}

    <h2 class="govuk-heading-m">
      Other details
    </h2>

    {{ govukSummaryList({
    rows: [
    {
    key: { text: "Anything else" },
    value: { text: data['moreDetail'] },
    actions: {
    items: [{ href: "anything-else", text: "Change", visuallyHiddenText: "question 15" }]
    }
    }
    ]
    }) }}

    <h2 class="govuk-heading-m">
      Now send your application
    </h2>

    <p>
      By submitting this application you are confirming that, to the best of your knowledge, the details you are
      providing are correct.
    </p>

    <form action="/confirmation" method="post" novalidate>

      {{ govukButton({
      text: "Accept and send"
      }) }}

    </form>

  </div>
</div>
{% endblock %}