{% extends "layouts/main.html" %}

{% block pageTitle %}
Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
    titleText: "Submitted",
    html: ""
    }) }}



    <h2 class="govuk-heading-m">
      What happens next
    </h2>

    <p>
      The information you have provided will be reviewed and if you are fined, it will be used to calcuate the fine and
      how long you have to pay.
    </p>

    <h2 class="govuk-heading-m">
      If your circumstances change
    </h2>

    <p>
      If your circumstances change, for example, if there is a change in your employment, you should contact the
      enforcement team dealing with your case. You may be asked to complete this form again.
    </p>


  </div>
</div>

{% endblock %}