{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Employer details</h1>
    <form action="/spending-questions" method="post" novalidate>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="employer-name">
          Employer name
        </label>
        <div id="employer-name-hint" class="govuk-hint">
          Hint text....
        </div>
        <input class="govuk-input govuk-input--width-10" id="employer-name" name="employer" type="text"
          aria-describedby="employer-name-hint">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="employer-email">
          Employer phone number or email address
        </label>
        <div id="employer-email-hint" class="govuk-hint">
          Hint text....
        </div>
        <input class="govuk-input govuk-input--width-10" id="employer-email" name="employer" type="text"
          aria-describedby="employer-email-hint">
      </div>
      <form class="form" action="/spending-questions" method="post">



        {{ govukButton({
        text: "Continue"
        }) }}

      </form>

  </div>
</div>

{% endblock %}