{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <form class="form" action="/employment-status" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="employmentStatus-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Are you in full-time or part-time employment?
            </h1>
          </legend>
          <div id="employmentStatus-hint" class="govuk-hint">
            This includes apprenticeships.
          </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="employmentStatus" name="employmentStatus" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="employmentStatus">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="employmentStatus-2" name="employmentStatus" type="radio"
                value="no">
              <label class="govuk-label govuk-radios__label" for="employmentStatus-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}