{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/spending-questions" method="get">

      <h1 class="govuk-heading-l">Employer details</h1>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="employer-name">
          What is the name of the company you work for?
        </label>
        <input class="govuk-input govuk-input--width-10" id="employer-name" name="employerName" type="text"
          aria-describedby="employer-name-hint">
      </div>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            What is the address of your employer?
          </h2>
        </legend>
        <div class="govuk-form-group">
          <label class="govuk-label" for="employer-line-1">
            Address line 1
          </label>
          <input class="govuk-input" id="employer-line-1" name="employerLine1" type="text"
            autocomplete="employer-line1">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="employer-line-2">
            Address line 2 (optional)
          </label>
          <input class="govuk-input" id="employer-line-2" name="employerLine2" type="text"
            autocomplete="employer-line2">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="employer-town">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="employer-town" name="employerTown" type="text"
            autocomplete="employer-level2">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="employer-county">
            County (optional)
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="employer-county" name="employerCounty" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="employer-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="employer-postcode" name="employerPostcode" type="text"
            autocomplete="postal-code">
        </div>
      </fieldset>




      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}