{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">
      MC100 research
    </h1>


    <h2 class="govuk-heading-m">
      Latest iterations
    </h2>

    <p class="govuk-body">
      <a href="/start" class="govuk-link">Spending journey </a>
    </p>

    <p class="govuk-body">
      <a href="afford/start" class="govuk-link">Affordability journey </a>
    </p>


    <h2 class="govuk-heading-m">
      Archived
    </h2>
    <p class="govuk-body">
      <a href="/round-1/start" class="govuk-link">Round 1 (already tested) prototype </a>
    </p>


    </ul>
  </div>
</div>


</form>

{% endblock %}