{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Outgoings
    </h1>

    <p>
      You may ask the court to allow you extra time to pay. If you want to ask the court for more time, you will need to
      provide details and proof of your outgoings. This court will consider your request but may not grant it.
    </p>
    <form class="form" action="/other-information" method="get">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="cost">
            Rent, mortgate or lodgings
          </label>
        </h2>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="rent" name="rent" type="text" spellcheck="false">
        </div>
      </div>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="cost">
            Council tax
          </label>
        </h2>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="tax" name="tax" type="text" spellcheck="false">
        </div>
      </div>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="cost">
            Insurance
          </label>
          <div id="authentication-code-hint" class="govuk-hint">
            Home, life etc.
          </div>
        </h2>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="insurance" name="insurance" type="text"
            spellcheck="false">
        </div>
      </div>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="cost">
            Child maintenance
          </label>
        </h2>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="child-maintenance" name="child-maintenance" type="text"
            spellcheck="false">
        </div>
      </div>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="cost">
            Travel expenses
          </label>
          <div id="authentication-code-hint" class="govuk-hint">
            Fuel, car, public transport etc.
          </div>
        </h2>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="travel" name="travel" type="text" spellcheck="false">
        </div>
      </div>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="cost">
            Utility bills
          </label>
          <div id="authentication-code-hint" class="govuk-hint">
            Gas, water, electricity etc.
          </div>
        </h2>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="travel" name="travel" type="text" spellcheck="false">
        </div>
      </div>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="cost">
            Telephone
          </label>
          <div id="authentication-code-hint" class="govuk-hint">
            inc. mobile
          </div>
        </h2>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="telephone-bill" name="telephone-bill" type="text"
            spellcheck="false">
        </div>
      </div>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="cost">
            Television subscription
          </label>
          <div id="authentication-code-hint" class="govuk-hint">
            Licence, satellite etc.
          </div>
        </h2>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="tv" name="tv" type="text" spellcheck="false">
        </div>
      </div>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="cost">
            Other fines
          </label>
          <div id="authentication-code-hint" class="govuk-hint">
            please specify court
          </div>
        </h2>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="other-fine-1" name="other-fine-1" type="text"
            spellcheck="false">

        </div>

      </div>

      <div class="govuk-form-group">

        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="other-fine-2" name="other-fine-2" type="text"
            spellcheck="false">

        </div>

      </div>

      <div class="govuk-form-group">

        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="other-fine-3" name="other-fine-3" type="text"
            spellcheck="false">

        </div>

      </div>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="cost">
            County court orders
          </label>
        </h2>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="county-court" name="county-court" type="text"
            spellcheck="false">
        </div>
      </div>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="cost">
            Loan repayments
          </label>
          <div id="authentication-code-hint" class="govuk-hint">
            Credit card, bank, etc.
          </div>
        </h2>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="loans" name="loans" type="text" spellcheck="false">

        </div>

      </div>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="cost">
            Other outgoings
          </label>
          <div id="authentication-code-hint" class="govuk-hint">
            please specify
          </div>
        </h2>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="other-outgoings-1" name="other-outgoings-1" type="text"
            spellcheck="false">

        </div>

      </div>

      <div class="govuk-form-group">

        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="other-outgoings-2" name="other-outgoings-2" type="text"
            spellcheck="false">

        </div>

      </div>

      <div class="govuk-form-group">

        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="other-outgoings-3" name="other-outgoings-3" type="text"
            spellcheck="false">

        </div>

      </div>

      <div class="govuk-form-group">

        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="other-outgoings-4" name="other-outgoings-4" type="text"
            spellcheck="false">

        </div>

      </div>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="cost">
            Total outgoings
          </label>
        </h2>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="county-court" name="county-court" type="text"
            spellcheck="false">
        </div>
      </div>

      {{ govukButton({
      text: "Save and continue"
      }) }}

    </form>







  </div>




</div>

{% endblock %}