{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Spending frequency
    </h1>

    <form class="form" action="/spending-sources" method="post">

      <p>
        The next 2 questions will ask about your spending. You can enter figures covering a time period you choose.
      </p>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              What time period do you want to enter spending details for?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="spending-period-weekly" name="spendingPeriod" type="radio"
                value="Weekly">
              <label class="govuk-label govuk-radios__label" for="spending-period-weekly">
                Weekly
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="spending-period-fortnightly" name="spending-period" type="radio"
                value="Fortnightly">
              <label class="govuk-label govuk-radios__label" for="spending-period-fortnightly">
                Fortnightly
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="spending-period-monthly" name="spendingPeriod" type="radio"
                value="Monthly">
              <label class="govuk-label govuk-radios__label" for="spending-period-monthly">
                Monthly
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}