{% extends "layouts/main.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<header>
  {{govukHeader()}}
</header>
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Tell the court about your financial circumstances
    </h1>

    <p>Complete this form before your hearing, when the court asks you to, or on the day of your hearing. The court may
      decide to fine you.</p>

    <p>If you do not tell the court about your financial circumstances, or you do not give reliable information, it
      could mean you are not fined the correct amount.</p>

    <p>
      It is an offence to make a false statement or knowingly to fail to disclose material facts when providing the
      court with a statement of your assets and financial circumstances, following an official request.

    </p>

    <h2 class="govuk-heading-m">
      Paying a fine
    </h2>


    <p>
      If the court orders that you pay a fine or other costs, you may be ordered to pay on the day. You should bring a
      method of payment with you.
    </p>

    <p>If you cannot pay on the day, you can ask for time to pay. The court can set up a payment plan.</p>


    {{ govukButton({
    text: "Start now",
    href: "/full-name",
    isStartButton: true
    }) }}

  </div>






  <div class="govuk-grid-column-one-third">



  </div>
</div>

{% endblock %}