{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Income and outgoings
    </h1>

    <form class="form" action="/income-details" method="get">

      <p>
        For all your income and outgoings, please indicate if these figures are:

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="outgoingsTimescale-weekly" name="outgoingsTimescale" type="radio"
                value="Weekly">
              <label class="govuk-label govuk-radios__label" for="outgoingsTimescale-weekly">
                Weekly
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="outgoingsTimescale-fortnightly" name="outgoingsTimescale"
                type="radio" value="Fortnightly">
              <label class="govuk-label govuk-radios__label" for="outgoingsTimescale-fortnightly">
                Fortnightly
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="outgoingsTimescale-monthly" name="outgoingsTimescale" type="radio"
                value="Monthly">
              <label class="govuk-label govuk-radios__label" for="outgoingsTimescale-monthly">
                Monthly
              </label>
            </div>
          </div>
        </fieldset>
      </div>


      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}